$buttonPadding: 20px 36px;


.DropDown {
    position: relative;
    display: block;
    color: $colorGrey;
    line-height: 1;
    background-color: #fff;
}

.DropDown__buttonLabel {
    display: block;
    width: 100%;
    min-width: 14em;

    padding: $buttonPadding;
    white-space: nowrap;
    text-align: left;

    color: $colorGrey;
    border: 1px solid $colorBorderGray;
    background-color: #fff;
    outline: none;

    cursor: pointer;

    transition: .2s all;

    &:hover,
    &:focus,
    &:active {
        color: #ddd;
        border-color: #ddd;
    }
}

.DropDown__buttonLabelIcon {
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 1em;
}

.DropDown__optionsList {
    position: absolute;
    top: 0;
    min-width: 100%;
    background-color: #fff;
    z-index: 100;
}

.DropDown__option {
    display: block;
    width: 100%;
    padding: $buttonPadding;
    white-space: nowrap;

    color: $colorGrey;
    text-align: left;
    background: transparent;
    border: 1px solid $colorBorderGray;
    border-bottom-color: transparent;

    &:last-child {
        border-bottom-color: $colorBorderGray;
    }
}

.DropDown__optionSelected {
    color: $colorGreyDark;
}

.DropDown__openedState {
    position: absolute;
    z-index: 110;
    top: 1em;
    right: 1em;
    color: $colorGreyDark;
}
