.Header {
    padding-top: 1em;
    background-color: $colorDarkBlue;
}

.Title {
    font-size: 32px;
    font-weight: 100;
    text-align: center;
    padding-bottom: 0.5em;
}

.UserMenuHolder {
    position: absolute;
    right: 0;
}
