$colorBlack: #000000;
$colorAlmostBlack: #353745;
$colorDarkBlue: #202d53;
$colorGold: #f5a623;
$colorGreyDarkest: #606060;
$colorGreyDark: #545454;
$colorMailHeadersGray: #4b4b4b;
$colorGrey: #a6a6a6;
$colorGreyLight: #8f94a3;
$colorGreyLightest: #bcbcbc;
$colorGreyBluish: #5d6888;
$colorActionTitleGray: #616161;
$colorCheckboxBorderGray: #d8d8d8;
$colorCheckboxGray: #fcfcfc;
$colorSuccessGreen: #08b258;
$colorSuccessGreenDark: #169150;
$colorGreen: #258f37;
$colorGreyLightBluish: #d5d7e0;
$colorFailRed: #d25b36;
$colorFailRedDark: #ac4727;
$colorRed: #e61945;
$colorWhiteGreyish: #f7f7f7;
$colorWhiteGrey: #f5f5f5;
$colorWhite: #ffffff;
$borderBlue: #2f3f6d;
$colorBorderGray: #e1e1e1;
$inputLabelGray: #5f5f5f;
$inputTextGray: #a9a9a9;
$inputBorderGray: #adadad;
$colorInputBlockHoverGray: #f3f3f3;
