$colorBlack: #000000;
$colorAlmostBlack: #353745;
$colorDarkBlue: #202D53;
$colorGold: #F5A623;
$colorGreyDarkest: #606060;
$colorGreyDark: #545454;
$colorMailHeadersGray: #4B4B4B;
$colorGrey: #a6a6a6;
$colorGreyLight: #8F94A3;
$colorGreyLightest: #BCBCBC;
$colorGreyBluish: #5D6888;
$colorActionTitleGray: #616161;
$colorCheckboxBorderGray: #D8D8D8;
$colorCheckboxGray: #FCFCFC;
$colorSuccessGreen: #08B258;
$colorSuccessGreenDark: #169150;
$colorGreen: #258F37;
$colorGreyLightBluish: #D5D7E0;
$colorFailRed: #D25B36;
$colorFailRedDark: #AC4727;
$colorRed: #e61945;
$colorWhiteGreyish: #F7F7F7;
$colorWhiteGrey: #f5f5f5;
$colorWhite: #ffffff;
$borderBlue: #2F3F6D;
$colorBorderGray: #E1E1E1;
$inputLabelGray: #5F5F5F;
$inputTextGray: #A9A9A9;
$inputBorderGray: #ADADAD;
$colorInputBlockHoverGray: #F3F3F3;
