.PageTopSelector {
    background-color: $colorDarkBlue;
}

.Link {
    font-size: 15px;
    text-transform: capitalize;
    padding: 1em 0;
    margin-right: 2em;
    border-bottom: 3px solid transparent;
}

.Link__active {
    color: #fff;
    border-bottom: 3px solid $colorGreen;
}
