:global {
    #app {
        min-height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .wrapper {
        max-width: 1280px;
        margin: auto;
        padding-left: 1em;
        padding-right: 1em;
    }

    .main {
        padding-bottom: 5em;
    }
}
