body,
input,
textarea,
button {
    font-size: 14px;
    font-family: 'Proxima Nova', Arial, sans-serif;
}

p {
    font-size: 1em; /* 14px */
    line-height: 1.4286em; /* 20px */
    margin: 0 0 1.4286em 0;
}

/* 24px */
h1 {
    font-size: 1.7143em; /* 24px */
    line-height: 1.6667em; /* 40px */
    margin-top: 0.8333em;
}
/* 22px */
h2 {
    font-size: 1.5714em; /* 22px */
    line-height: 1.8182em; /* 40px */
    margin-top: 0.9091em;
}
/* 20px */
h3 {
    font-size: 1.4286em; /* 20px */
    line-height: 1em; /* 20px */
    margin-top: 1em;
}
/* 18px */
h4 {
    font-size: 1.2857em; /* 18px */
    line-height: 1.1111em; /* 20px */
    margin-top: 1.1111em;
}
/* 16px */
h5 {
    font-size: 1.1429em; /* 16px */
    line-height: 1.25em; /* 20px */
    margin-top: 1.25em;
}
/* 14px */
h6 {
    font-size: 1em; /* 14px */
    line-height: 1.4286em; /* 20px */
    margin-top: 1.4286em;
}
